.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
  color: #535766;
  box-sizing: inherit;
}

.App-intro {
  font-size: large;
}

.Login-panel{
  width: 400px;
  margin-left: 35%;
  margin-top: 10%;
  border: 0.7px solid #e4e4e4;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.App-body{
    height: 800px;
    background-image: url("1.png");
}

.buttonStyle{
    width : 100%;
    background-color: #ff527b;
    color : #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    font-family: Whitney;
    border: 0

}

.App-NavBar{
    min-height: 75px;
}


.login-input-item{
    position: relative;
    width: 100%;
}

.login-user-input{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    color : #282c3f;
    padding-right: 40px;
    font-size: 15px;
    width : 100%;
    border: 0;
    padding: 15px;
    border : 1px solid #d5d6d9;
}

.login-user-input-password{
    border-top : 1px solid #d5d6d9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login-login-button-container{
    padding: 10px 20px;
    margin: 0;
    border : 0;
    width : 100%
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Switch-style{
    padding: 5px 10px;
    font-size: 0.9em;
    text-align: right;
    font-family: Whistney;
    margin-top: 10px;
}

.displayName{
    float: left;
    display: inline-block;
    border : 1px solid black;
    margin : 10px;
    /*background-color: lightslategray;*/
    /*color: white;*/
    font-family: Whistney;
}

.desStyle{
    display: inline;
    float: left;
    margin-left:20px;
}

.displayStyle{
    width: 100%;
}


.Task{
    /*margin : 0 100px;*/
    padding: 5pt;
    border-bottom: 1px solid #eee;
}

.PageContainers{
    display: inline-block;
}

.AppLabel{
    font-size: 12px;
    background-color: #5CB85C;
    border-radius: 10px;
    padding: 2px 5px;
    color: #FFFFFF;
}
